/*=============== Games ====================================================================================================================================================================*/

.games {
    flex: 1;
}
.games-wrapper {
}
.games-inner {
}
.games-search {
    width: 100%;
}
.games-form {
    position: relative;

    &__search {
        width: 100%;
    }

    input {
        border-radius: 30px;
        display: block;
        width: 100%;
        height: 44px;
        padding: 0 16px 0 44px;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        caret-color: #fff;
        background: #1e1f21;
        border: 2px solid #2d3035;
        transition: 0.2s ease border-color;
        outline: none;
        background-image: url("../img/games/search.svg");
        background-repeat: no-repeat;
        background-position: 7px center;
        background-size: 30px;

        &::placeholder {
            color: #b4b5b7;
        }

        &:focus {
            border-color: #444951;
        }
    }
}
.games-list {
    margin: 16px 0;
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-auto-flow: row dense;
    gap: 16px;
    padding: 0;
    list-style-type: none;

    @media (max-width: $break_1024) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.games-item {
    &:hover {
        .games-item__overlay {
            visibility: visible;
            opacity: 1;
        }

        .games-item__title {
            top: 0;
            background: none;
            font-weight: 600;
        }

        .games-item__info {
            visibility: visible;
            opacity: 1;
        }
    }
    // .games-item__inner

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        border-radius: 30px;
        background: #1e1f21;
        padding-bottom: 44px;
    }

    // .games-item__image

    &__image {
        position: relative;
        width: 100%;

        &:before {
            content: " ";
            display: block;
            height: 0;
            padding-top: 66.66667%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 30px 30px 0 0;
            object-fit: cover;
        }
    }

    // .games-item__overlay

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
        transition: 0.2s all ease;
        opacity: 0;
        padding-top: 20px;
    }

    // .games-item__buttons

    &__buttons {
        display: flex;
        // margin: -5px;
    }

    // .games-item__button

    &__button {
        padding: 0 20px;
        min-width: 80px;
        margin: 3px;

        @media (max-width: $break_1024) {
            &.demo {
                display: none;
            }
        }
    }

    // .games-item__title

    &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        bottom: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 44px;
        padding: 0 10px;
        line-height: 44px;
        font-size: 14px;
        text-align: center;
        transition: 0.2s all ease;
        color: #fff;
    }

    // .games-item__info

    &__info {
        position: absolute;
        bottom: 0;
        visibility: hidden;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.2s ease;
        width: 100%;
    }

    // .games-item__provider

    &__provider {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 18px;
            height: 100%;
            margin-right: 6px;
        }
    }

    // .games-item__provider-name

    &__provider-name {
        font-size: 12px;
        font-weight: 700;
        line-height: 44px;
        color: white;
    }
}

/*=============== /Games ====================================================================================================================================================================*/
