<footer class="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-age">
                    <div class="footer-age__icon">
                        <img src="img/footer/18.svg" alt="">
                    </div>
                </div>
                <div class="footer-copyright">
                    <h4 class="footer-copyright__title">
                        Pyramid Spins
                    </h4>
                    <div class="footer-copyright__text">
                        © Copyright 2023
                    </div>
                </div>
            </div>
        </div>
        <nav class="footer-nav">
            <div class="container">
                <div class="footer-nav__inner">
                    <ul class="menu">
                        <li class="menu-item"><a href="#">ABOUT US</a></li>
                        <li class="menu-item"><a href="#">PRIVACY POLICY</a></li>
                        <li class="menu-item"><a href="#">RESPONSIBLE GAMING</a></li>
                        <li class="menu-item"><a href="#">TERMS & CONDITIONS</a></li>
                        <li class="menu-item"><a href="#">BETTING RULES</a></li>
                        <li class="menu-item"><a href="#">CONTACTS</a></li>
                        <li class="menu-item"><a href="#">FAQS</a></li>
                    </ul>
                    <ul class="languages">
                        <li class="language">
                            <img src="img/footer/uk.svg" alt="">
                            EN
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>