<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-inner__logo header-logo">
                <a href="#">
                    <img src="img/header/logo.svg" alt="">
                </a>
                <button class="header-inner__burger header-burger">
                    <img src="img/header/burger.svg" alt="">
                </button>
            </div>
            <nav class="header-inner__nav header-nav">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">
                            <img src="img/header/games.svg" alt="">
                            Games
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <img src="img/header/sport.svg" alt="">
                            Sport
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <img src="img/header/promo.svg" alt="">
                            Promo
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <img src="img/header/tournaments.svg" alt="">
                            Tournaments
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <img src="img/header/lottery.svg" alt="">
                            Lotteries
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <img src="img/header/app.svg" alt="">
                            Application
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header-inner__buttons header-buttons">
                <a href="#sign-up" class="header-buttons__button button button-gold">
                    Sign up
                </a>
                <a href="#sign-in" class="header-buttons__button button">
                    Login
                </a>
            </div>
        </div>
    </div>
</header>