<section class="mobile-menu">
    <div class="mobile-menu__header menu-header">
        <h3 class="menu-header__title">
            Menu
        </h3>
        <button class="menu-header__button menu-close">
            <img src="img/header/close.svg" alt="">
        </button>
    </div>
    <nav class="mobile-menu__nav menu-nav">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">
                    <img src="img/header/games.svg" alt="">
                    Games
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <img src="img/header/sport.svg" alt="">
                    Sport
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <img src="img/header/promo.svg" alt="">
                    Promo
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <img src="img/header/tournaments.svg" alt="">
                    Tournaments
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <img src="img/header/lottery.svg" alt="">
                    Lotteries
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <img src="img/header/app.svg" alt="">
                    Application
                </a>
            </li>
        </ul>
    </nav>
    <div class="mobile-menu__buttons menu-buttons">
        <a href="#" class="menu-buttons__button menu-button">
            <img src="img/header/support.png" alt="">
            Support
        </a>
    </div>
</section>