<section class="popup">
    <div class="popup-inner">
        <button class="popup-close">
            <img src="img/popup/close.svg" alt="">
        </button>
        <div class="signup popup-section">
            <div class="signup-inner popup-section__inner">
                <div class="signup-header popup-section__header">
                    <h2 class="signup-title">
                        Sign up
                    </h2>
                </div>
                <div class="signup-columns">
                    <div class="signup-column">
                        <h3 class="signup-caption">
                            Today only!
                        </h3>
                        <img src="img/popup/signup_promo.png" alt="">
                        <div class="signup-timer">
                            <h4 class="sign-text">
                                Time left:
                            </h4>
                            <h3 class="signup-caption">
                                00:00
                            </h3>
                        </div>
                        <h3 class="signup-caption">
                            Hurry up!
                        </h3>
                    </div>
                    <div class="signup-column">
                        <form class="signup-form" method="post">
                            <div class="row">
                                <div class="column">
                                    <label class="signup-label sign-text" for="signup-email">Email</label>
                                    <input class="signup-input form-input" type="email" id="signup-email" name="signup-email" maxlength="255" placeholder="Enter email" aria-required="true">
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <label class="signup-label sign-text" for="signup-password">Password</label>
                                    <input class="signup-input form-input" type="password" id="signup-password" name="signup-password" maxlength="32" placeholder="Password (6-32 characters)" aria-required="true">
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <label class="signup-label sign-text" for="signup-currency">Currency</label>
                                    <select class="signup-input form-input" id="signup-currency" name="signup-currency">
                                        <option value="RUB">RUB</option>
                                        <option value="EUR" selected>EUR</option>
                                    </select>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="row row-checkbox">
                                <div class="column">
                                    <label>
                                        <input type="checkbox" id="signup-verified" name="signup-verified" value="1" checked>
                                        <div class="sign-text">
                                            I am 18 years old and I accept the
                                            <a target="_blank" href="#">Terms and Conditions</a>
                                        </div>
                                    </label>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="row row-submit">
                                <div class="column">
                                    <button type="submit" class="button button-gold">Play</button>
                                </div>
                            </div>
                            <div class="row row-signin">
                                <div class="column">
                                    <div class="sign-text">
                                        Already have an account?
                                        <a href="#sign-in">Login</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-signup">
                                <div class="column">
                                    <div class="sign-text">
                                        Sign up via
                                    </div>
                                    <ul class="signup-socials">
                                        <li class="signup-social">
                                            <a href="#">
                                                <img src="img/popup/twitter.svg" alt="">
                                            </a>
                                        </li>
                                        <li class="signup-social">
                                            <a href="#">
                                                <img src="img/popup/google.svg" alt="">
                                            </a>
                                        </li>
                                        <li class="signup-social">
                                            <a href="#">
                                                <img src="img/popup/telegram.svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="signup-support">
                Support number <a href="tel:+442039668318">+44 (20) 396-683-18</a>
            </div>
        </div>
        <div class="login popup-section">
            <div class="login-inner popup-section__inner">
                <div class="login-header popup-section__header">
                    <h2 class="login-title">
                        Sign in
                    </h2>
                </div>
                <form action="#" method="post" class="login-form">
                    <div class="row">
                        <div class="column">
                            <label class="login-label sign-text" for="login-login">Email</label>
                            <input class="login-input form-input" type="email" id="login-login" name="login-login" placeholder="Enter email" aria-required="true">
                            <div class="help-block"></div>
                        </div>
                        <div class="column">
                            <label class="login-label sign-text" for="login-password">Password</label>
                            <input class="login-input form-input" type="password" id="login-password" name="login-password" placeholder="Enter password" aria-required="true">
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="row row-submit">
                        <div class="column">
                            <button type="submit" class="button button-gold">Login</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="login-text sign-text">
                                Login with
                            </div>
                            <ul class="login-socials">
                                <li class="login-social">
                                    <a href="#">
                                        <img src="img/popup/twitter.svg" alt="">
                                    </a>
                                </li>
                                <li class="login-social">
                                    <a href="#">
                                        <img src="img/popup/google.svg" alt="">
                                    </a>
                                </li>
                                <li class="login-social">
                                    <a href="#">
                                        <img src="img/popup/telegram.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="column">
                            <div class="login-text sign-text">New to Pyramid Spins Casino?</div>
                            <a class="button" href="#sign-up">Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>