<section class="banner">
    <div class="banner-wrapper">
        <div class="container">
            <div class="banner-inner">
                <div class="banner-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide1.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide1_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Hurry up to get</span><br>
                                                <span class="highlighted" style="font-size:40px">450% bonus</span><br>
                                                <span class="highlighted" style="font-size:40px">for first</span><br>
                                                <span style="color:#ffffff; font-size:20px">deposits!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Get</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide2.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide2_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Hurry up to get</span><br>
                                                <span class="highlighted" style="font-size:40px">a bonus</span><br>
                                                <span class="highlighted" style="font-size:40px">for connecting</span><br>
                                                <span style="color:#ffffff; font-size:20px">the Telegram bot!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Get</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide3.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide3_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="font-size:30px">Get</span><br>
                                                <span style="color:#f1c40f;font-size:28px">your bonus</span><br>
                                                <span style="font-size:18pt">for installing the application!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Install</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide4.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide4_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Don't miss!</span><br>
                                                <span class="highlighted" style="font-size:40px">Samsung</span><br>
                                                <span style="font-size:40px">Laptop</span><br>
                                                <span style="color:#ffffff; font-size:20px">already in the tournament!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide5.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide5_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Incredible prizes!</span><br>
                                                <span class="highlighted" style="font-size:40px">Gaming</span><br>
                                                <span class="highlighted" style="font-size:40px">Laptop</span><br>
                                                <span style="color:#ffffff; font-size:20px">in the new lottery!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide6.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide6_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Incredible prizes!</span><br>
                                                <span class="highlighted" style="font-size:40px">Samsung</span><br>
                                                <span class="highlighted" style="font-size:40px">TV</span><br>
                                                <span style="color:#ffffff; font-size:20px">in the new lottery!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide7.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide7_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Only now!</span><br>
                                                <span class="highlighted" style="font-size:40px">Nespresso</span><br>
                                                <span class="highlighted" style="font-size:40px">Coffee Machine</span><br>
                                                <span style="color:#ffffff; font-size:20px">hurry up to get!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide banner-slide">
                            <div class="banner-slide__inner">
                                <picture class="banner-slide__picture">
                                    <source srcset="img/banner/slide8.jpg" media="(min-width: 993px)">
                                    <img class="image" src="img/banner/slide8_min.jpg" alt="">
                                </picture>
                                <div class="banner-slide__overlay">
                                    <div class="banner-slide__content">
                                        <div class="banner-slide__text">
                                            <p>
                                                <span style="color:#ffffff; font-size:20px">Gifts in the lottery</span><br>
                                                <span class="highlighted" style="font-size:40px">Lucky </span><br>
                                                <span class="highlighted" style="font-size:40px">Ticket</span><br>
                                                <span style="color:#ffffff; font-size:20px">don't miss your chance!</span>
                                            </p>
                                        </div>
                                        <a href="#sign-up" class="banner-slide__button button button-gold">Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>