<section class="games">
    <div class="games-wrapper">
        <div class="games-inner">
            <div class="games-search">
                <form class="games-search__form games-form" action="#" method="get">
                    <div class="games-form__search">
                        <input type="text" name="s" placeholder="Search a game">
                    </div>
                </form>
            </div>
            <ul class="games-list">
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item1.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Miss Cherry Fruits
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item2.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Four Lucky Clover
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item3.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            3 Coins
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item4.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Big Catch Bonanza
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/netgame.svg" alt="">
                                <span class="games-item__provider-name">NetGame</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item5.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Book of Life
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/chilligames.svg" alt="">
                                <span class="games-item__provider-name">Chilli games</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item6.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Sweet Rush Megaways
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item7.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Savage Buffalo Spirit Megaways
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item8.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Maya Sun
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item9.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Gemhalla
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item10.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Bonanza Billion
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item11.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Lucky Dama Muerta
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item12.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Luck Magic
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item13.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Lady Fortune
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item14.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Coin Volcano
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item15.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Candy Monsta
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item16.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Book of Sun Multichance
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item17.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Hit more Gold
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item18.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Dragon Pearls:hold and win
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item19.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Buffalo Win
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/pgsoft.png" alt="">
                                <span class="games-item__provider-name">PG Soft</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item20.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Lucky Clover Lady
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/pgsoft.png" alt="">
                                <span class="games-item__provider-name">PG Soft</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item21.svg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            15 Dragon Pearls: Hold and Win
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item22.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Avalon: The Lost Kingdom
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item23.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Sun of Egypt 3
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/booongo.svg" alt="">
                                <span class="games-item__provider-name">Booongo</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="games-item">
                    <div class="games-item__inner">
                        <div class="games-item__image">
                            <img src="img/games/item24.jpg" alt="">
                            <div class="games-item__overlay">
                                <div class="games-item__buttons">
                                    <a class="games-item__button button button-gold" href="#sign-up">Play</a>
                                    <a class="games-item__button button demo" href="#">Demo</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="games-item__title">
                            Platinum Lightning
                        </h3>
                        <div class="games-item__info">
                            <div class="games-item__provider">
                                <img src="img/games/bgaming.svg" alt="">
                                <span class="games-item__provider-name">BGaming</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>