<section class="games-nav gnav">
    <div class="gnav-wrapper">
        <div class="container">
            <div class="gnav-inner">
                <nav class="gnav-inner__nav gnav-nav">
                    <div class="swiper gnav-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    All
                                </a>
                            </div>
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    New
                                </a>
                            </div>
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    Top Games
                                </a>
                            </div>
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    Slots
                                </a>
                            </div>
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    Table Games
                                </a>
                            </div>
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    Live Show
                                </a>
                            </div>
                            <div class="swiper-slide gnav-slide">
                                <a href="#">
                                    Other games
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>