<section class="payment">
    <div class="payment-wrapper">
        <div class="container">
            <div class="payment-inner">
                <ul class="payment-list">
                    <li class="payment-item">
                        <a href="#sign-up"><img src="img/providers/provider01.svg" alt=""></a>
                    </li>
                    <li class="payment-item">
                        <a href="#sign-up"><img src="img/providers/provider02.svg" alt=""></a>
                    </li>
                    <li class="payment-item">
                        <a href="#sign-up"><img src="img/providers/provider03.svg" alt=""></a>
                    </li>
                    <li class="payment-item">
                        <a href="#sign-up"><img src="img/providers/provider04.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>