<section class="providers">
    <div class="providers-wrapper">
        <div class="providers-inner">
            <ul class="providers-list">
                <li class="providers-item"><a href="#"><img src="img/providers/provider05.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider06.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider07.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider08.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider09.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider10.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider11.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider12.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider13.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider14.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider15.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider16.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider17.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider18.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider19.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider20.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider21.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider22.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider23.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider24.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider25.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider26.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider27.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider28.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider29.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider30.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider31.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider32.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider33.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider34.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider35.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider36.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider37.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider38.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider39.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider40.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider41.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider42.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider43.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider44.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider45.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider46.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider47.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider48.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider49.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider50.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider51.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider52.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider53.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider54.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider55.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider56.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider57.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider58.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider59.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider60.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider61.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider62.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider63.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider64.svg" alt=""></a></li>
                <li class="providers-item"><a href="#"><img src="img/providers/provider65.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</section>