<aside class="sidebar">
    <div class="sidebar-wrapper">
        <div class="sidebar-inner">
            <div class="sidebar-section">
                <h3 class="sidebar-section__title">Latest wins</h3>
                <div class="swiper sidebar-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide sidebar-slide">
                            <div class="sidebar-slide__inner">
                                <a class="sidebar-slide__item" href="#sign-up">
                                    <div class="sidebar-slide__game">
                                        <img src="img/sidebar/item1.jpg" alt="">
                                        <div class="sidebar-slide__button button button-gold">Play</div>
                                    </div>
                                    <div class="sidebar-slide__content">
                                        <div class="sidebar-slide__money">
                                            <span>€</span>
                                            <span>185</span>
                                        </div>
                                        <div class="sidebar-slide__user">
                                            dru***
                                        </div>
                                        <div class="sidebar-slide__time">
                                            <span>20:43:07</span>
                                        </div>
                                        <h5 class="sidebar-slide__title">Fruit strike</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide sidebar-slide">
                            <div class="sidebar-slide__inner">
                                <a class="sidebar-slide__item" href="#sign-up">
                                    <div class="sidebar-slide__game">
                                        <img src="img/sidebar/item2.jpg" alt="">
                                        <div class="sidebar-slide__button button button-gold">Play</div>
                                    </div>
                                    <div class="sidebar-slide__content">
                                        <div class="sidebar-slide__money">
                                            <span>€</span>
                                            <span>185</span>
                                        </div>
                                        <div class="sidebar-slide__user">
                                            dru***
                                        </div>
                                        <div class="sidebar-slide__time">
                                            <span>20:43:07</span>
                                        </div>
                                        <h5 class="sidebar-slide__title">The Moneymania</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide sidebar-slide">
                            <div class="sidebar-slide__inner">
                                <a class="sidebar-slide__item" href="#sign-up">
                                    <div class="sidebar-slide__game">
                                        <img src="img/sidebar/item3.jpg" alt="">
                                        <div class="sidebar-slide__button button button-gold">Play</div>
                                    </div>
                                    <div class="sidebar-slide__content">
                                        <div class="sidebar-slide__money">
                                            <span>€</span>
                                            <span>185</span>
                                        </div>
                                        <div class="sidebar-slide__user">
                                            dru***
                                        </div>
                                        <div class="sidebar-slide__time">
                                            <span>20:43:07</span>
                                        </div>
                                        <h5 class="sidebar-slide__title">Gonzos quest</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide sidebar-slide">
                            <div class="sidebar-slide__inner">
                                <a class="sidebar-slide__item" href="#sign-up">
                                    <div class="sidebar-slide__game">
                                        <img src="img/sidebar/item4.jpg" alt="">
                                        <div class="sidebar-slide__button button button-gold">Play</div>
                                    </div>
                                    <div class="sidebar-slide__content">
                                        <div class="sidebar-slide__money">
                                            <span>€</span>
                                            <span>185</span>
                                        </div>
                                        <div class="sidebar-slide__user">
                                            dru***
                                        </div>
                                        <div class="sidebar-slide__time">
                                            <span>20:43:07</span>
                                        </div>
                                        <h5 class="sidebar-slide__title">Avalon: The Lost Kingdom</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide sidebar-slide">
                            <div class="sidebar-slide__inner">
                                <a class="sidebar-slide__item" href="#sign-up">
                                    <div class="sidebar-slide__game">
                                        <img src="img/sidebar/item5.jpg" alt="">
                                        <div class="sidebar-slide__button button button-gold">Play</div>
                                    </div>
                                    <div class="sidebar-slide__content">
                                        <div class="sidebar-slide__money">
                                            <span>€</span>
                                            <span>185</span>
                                        </div>
                                        <div class="sidebar-slide__user">
                                            dru***
                                        </div>
                                        <div class="sidebar-slide__time">
                                            <span>20:43:07</span>
                                        </div>
                                        <h5 class="sidebar-slide__title">Monkey bar</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-section">
                <h3 class="sidebar-section__title">Lottery</h3>
                <div class="sidebar-section__promo sidebar-promo">
                    <h4 class="sidebar-promo__title">
                        Lucky ticket
                    </h4>
                    <div class="sidebar-promo__wrapper">
                        <div class="sidebar-promo__inner">
                            <div class="sidebar-promo__prize">
                                <span>€</span>
                                <span>1,000</span>
                            </div>
                            <img class="sidebar-promo__image" src="img/sidebar/lottery.jpg" alt="Lucky Ticket">
                            <div class="sidebar-promo__action">
                                <a class="sidebar-promo__button button button-gold" href="#">More</a>
                            </div>
                        </div>
                        <div class="sidebar-promo__timer sidebar-timer">
                            <div class="sidebar-timer__label">Ends in</div>
                            <div class="sidebar-timer__digits">00 00 00 00</div>
                            <div class="sidebar-timer__content"><span>DD</span> <span>HH</span> <span>MM</span> <span>SS</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>